:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0F2027;
  padding: 10px 20px;
  color: white;
}

.nav a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.nav div {
  display: flex;
  align-items: center;
}

.nav a :hover, .git:hover{
  filter: drop-shadow(0 0 10px #2C5364);
}

.logo {
  width: 70px;
  height: auto;
}

.nav span {
  font-size: 18px;
  font-weight: 500;
}

.nav div:last-child {
  font-size: 1rem;
  cursor: pointer;
}

.git{
  margin-right: 50px;
}